#navlist {
    list-style-type: none;
}

.navitem {
    float:left;
}

.navitem > a {
    display: block;
    padding: 8px;
    border-style: solid;
    border-left-style: none;
    border-color
    background-color: grey;
}